<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acad</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h1 id="dashboard-title">ACAD</h1>
            <nav class="dashboard-nav">
                <ul class="dashboard-menu">
                    <li><a href="dashboard.html">Home</a></li>
                    <li><a href="gym.html">gym</a></li>
                    <li><a href="#">Run</a></li>
                </ul>
                <div class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
        <hr>
        <div class="dashboard-content">
            <h3>Let's<br>Go!</h3>
            <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
    </div>  
    
    
</body>
</html>