<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login screen</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>

    <div class="mainContainer">
        <h1 id="title">Welcome</h1>
        <div class="inputContainer">
            <input type="text" id="username" placeholder="Username,email or phone">
            <input type="password" id="password" placeholder="Password">
            <button id="loginButton">Sing in</button>
            <button id="createAccountButton">Create New Account</button>
        </div>
    </div>
    
</body>
</html>