<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login screen</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' rel='stylesheet'>

</head>
<body>

    <div class="loginCard">

        <div class="loginSection">
            <h1 id="title">Welcome</h1>

            <div class="inputContainer">
                <div class="input-user">
                    <i class="fa-regular fa-envelope"></i>
                    <input class="inputField" type="text" placeholder="Email">
                    
                </div>

                <div class="input-password">
                    <input class="inputField" type="password" placeholder="Password">
                    <i class="fa-solid fa-lock"></i>
                </div>

                <div class="remember-forgot">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Remember me</label>
                    <a href="#" id="forgotPassword">Forgot password?</a>   
                </div>

                <button class="loginButton">Sign In</button>

                <button class="createAccountButton">Create New Account</button>
            </div>
        </div>

        <div class="imageSection">
            <img id="loginImage" src="../assets/gymImage1.jpg" alt="Gym Login">
            <div class="appName">
                <h2 class="appTitle">Acad</h2>
            </div>
        </div>

    </div>


    <script src="../js/login.js"></script>
</body>
</html>