<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login screen</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="loginCard">

        <div class="loginSection">
            <h1 id="title">Welcome</h1>

            <div class="inputContainer">
                <input class="inputField" type="text" placeholder="Username, email or phone number">

                <input class="inputField" type="password" placeholder="Password">

                <button class="loginButton">Sign In</button>

                <button class="createAccountButton">Create New Account</button>
            </div>
        </div>

        <div class="imageSection">
            <img src="../assets/victor-freitas-WvDYdXDzkhs-unsplash.jpg" alt="Gym Login">
        </div>

    </div>

</body>
</html>